@inherits LayoutComponentBase



<div class="main">    
    <div class="content px-4" style="display:flex; align-items:center; justify-content: center; height: 100vh;">
        @Body
    </div>
</div>
