@using AgoraDesktop

<link href="css/app.css" rel="stylesheet" />


<div class="nav">
    <ul class="flex-row">
        <li class="tab-section to-left">
            <Microsoft.AspNetCore.Components.Routing.NavLink class="nav-link home-link" href="" Match = "Microsoft.AspNetCore.Components.Routing.NavLinkMatch.All">
                <img src="images/home-icon.png" alt="home-icon" class="icon"/>
            </Microsoft.AspNetCore.Components.Routing.NavLink>
            <div class="button-title home-title">Home</div>
        </li>
        <li class="tab-section to-mid">
            <Microsoft.AspNetCore.Components.Routing.NavLink class="nav-link history-link" href="test">
                <img src="images/history-icon.png" alt="history-icon" class="icon" id="history-img"/>
            </Microsoft.AspNetCore.Components.Routing.NavLink>
            <div class="button-title history-title">App History</div>
        </li>
        <li class="tab-section to-right">
            <Microsoft.AspNetCore.Components.Routing.NavLink class="nav-link suggestions-link" href="test">
                
            </Microsoft.AspNetCore.Components.Routing.NavLink>
            <div class="button-title suggestions-title">Suggestions</div>
        </li>
    </ul>
</div>