@page "/"
@layout EmptyLayout
@inject NavigationManager NavManager
@using Models

<div class="login-form">
    <EditForm Model="@formModel" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <legend class="login-text">Login</legend>
        <div class="field-section">
            <label>Username:</label><InputText class="input-field username-box" @bind-Value="formModel.Username" />
        </div>
    
        <div class="field-section">
            <label>Password:</label><InputText class="input-field password-box" type="password" @bind-Value="formModel.Password" />
        </div>
    

        <button class="submit" type="submit" style="margin-right:10px; display:inline;">Login</button>
        <button class="submit" @onclick="GoToRegister" style="margin-right:10px; display:inline;">Register</button>

    </EditForm>
    
</div>

@code{
    private IDataService<UserData> dbService = new GenericDataService<UserData>(new UserDataContextFactory());
    private LoginModel formModel = new();


    private void HandleSubmit()
    {
        NavManager.NavigateTo("/test");
        UserData foundUser = dbService.Get(formModel.Username).Result;

    }

    private void GoToRegister()
    {
        NavManager.NavigateTo("/registerPage");
    }
}