@page "/"
@layout EmptyLayout

<div class="login-form">
    <EditForm Model="@formModel" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <legend class="login-text">Login</legend>
        <div class="field-section">
            <label>Username:</label><InputText class="input-field username-box" @bind-Value="formModel.Username" />
        </div>
    
        <div class="field-section">
            <label>Password:</label><InputText class="input-field password-box" @bind-Value="formModel.Password" />
        </div>
    

        <button class="submit" type="submit" style="margin-right:10px; display:flex;">Login</button>

    </EditForm>
</div>

@code{
    private FormModel formModel = new();

    private void HandleSubmit()
    {
        
    }
}